<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bolly.mybatis.mapper.BizAccountMapper">
	<resultMap id="BaseResultMap" type="com.bolly.mybatis.entity.BizAccount">
		<id property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="nickName" column="NICK_NAME" />
		<result property="accountName" column="ACCOUNT_NAME" />
		<result property="password" column="PASSWORD" />
		<result property="phoneNo" column="PHONE_NO" />
		<result property="appType" column="APP_TYPE" />
		<result property="appKind" column="APP_KIND" />
		<result property="aliOpenId" column="ALI_OPEN_ID" />
		<result property="wxOpenId" column="WX_OPEN_ID" />
		<result property="headImg" column="HEAD_IMG" />
		<result property="enable" column="ENABLE" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="updateDate" column="UPDATE_DATE" />
	</resultMap>

	<select id="getByPhone" resultType="com.bolly.mybatis.entity.BizAccount">
		SELECT
		<include refid="cols-BizAccount" />
		FROM biz_account
		WHERE
		PHONE_NO = #{phoneNo}
	</select>

	<select id="get" resultType="com.bolly.mybatis.entity.BizAccount">
		SELECT
		<include refid="cols-BizAccount" />
		FROM biz_account
		WHERE ID = #{userId}
	</select>
</mapper>